:root {
    --color: #eee;
    --color-2: #8b6642;
    --bg-color-1: #1c1c1c;
    --bg-color-2: #58b792;
    --bg-color-3: #282828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.header {
    background-color: var(--bg-color-1);
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 7rem;
    padding: 2rem;
}

.navbar__media {
    display: none;
}

.navbar__menu {
    display: none;
}

.navbar__buttons a i {
    font-size: 2rem;
    color: red;
    margin: 0 1rem;
}

i {
    color: var(--bg-color-2) !important;
    font-size: 4rem !important;
}
